[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[48 GB Encrypted]
row=1
col=0

[51ea70c0-35de-43b2-aeea-26416509672d]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/cat]
row=4
col=0

