[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[B890DDB990DD7DF6]
row=2
col=0

[FAFEDFBDFEDF6FFD]
row=1
col=0

[18EA-0F57]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/cat]
row=5
col=0

