$bg: #18191b;
$section-bg: #242527;
$fg: #2f3033;
$text: #f1f1f1;

$button-hover: #575252;
$button-on-hover: #5c9da0;
$toggle-on: #7bc9cc;

$power: #fcc891;
$memory: #AED0C9;
$storage: #ff9296;

$volume: #f8c2e2;
$mic: #AED0C9;
$mic-muted: #807a79;
$brightness: #fcc891;

$song:  #f8c2e2;
$artist: #fcc891;

$folder1: #f8c2e2;
$folder2: #CEFDFF;
$folder3: #fcc891;
$folder4: #ff9296;


.background {
    background-color: $bg;
}

.section {
    margin: 10px;
    border-radius: 10px;
    background-color: $section-bg;
}


// --- profile ---


.profile-box {
    // background-color: red;
}

.profile-pic {
    // background-color: $bg;
    // border-radius: 50%;
    margin: 10px;
    padding: 0px;
}

.profile-name {
    font-size: 30px;
    margin-left: 10px;
}


// --- music ---


.music-box {
    // background-color: yellow;
}

.song, .artist {
    font-size: 15px;
    :nth-child(1) { // icon
        margin-left: 15px;
        margin-right: 10px;
    }
    :nth-child(2) { // text
        color: $text;
    }
}

.song {
    margin-top: 10px;
    color: $song;
}

.artist {
    margin-top: 10px;
    color: $artist;
}

.music-controls {
    font-size: 18px;
    padding: 2px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    button {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        
    }
    button:hover {
        color: $button-hover;
    }
}


// --- toggles ---


.toggles-box {
    // background-color: green;
    padding: 10px;
}

.toggle-button {
    border-radius: 50%;
    //margin-left: 7px;
    //margin-right: 7px;
    label {
        font-size: 21px;
    }
}

.toggle-on {
    background-color: $toggle-on;
    // label {
    //     color: $section-bg;
    // }
}

.toggle-off {
    background-color: $fg;
}

.toggle-off:hover {
    background-color: $button-hover;
}

.toggle-on:hover {
    background-color: $button-on-hover;
}

// --- folders ---


.folder-box {
    padding-top: 5px;
    padding-bottom: 5px;
    .folder1 { color: $folder1; }
    .folder2 { color: $folder2; }
    .folder3 { color: $folder3; }
    .folder4 { color: $folder4; }
}

.folder-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    
    box :nth-child(1) { // icon
        margin-right: 12px;
    }
}

.folder-button:hover {
    color: $button-hover;
}


// --- weather box ---


.weather-box {
    font-size: 15px;
    padding: 1px;
}

.weather-icon {
    font-size: 40px;
    margin-left: 18px;
    margin-top: 2px;
}

.weather-curr {
    margin-top: -2px;
    font-weight: 600;
}

.weather-act {
    margin-top: 3px;
}

.weather-act, .weather-feel {
    font-size: 28px;
    font-weight: 300;
    margin-left: 0px;
    margin-right: 10px;
}


// --- sliders ---


.sliders-box {
    // background-color: blue;
    .slider-vol { //volume
        .slider-scale contents trough highlight {
            background-color: $volume;
        }
        .slider-icon {
            color: $volume;
        }
    }
    .slider-mic { //mic
        .slider-scale contents trough highlight {
            background-color: $mic;
        }
        .slider-icon {
            color: $mic;
        }
    }
    .slider-mic-muted { //mic muted
        .slider-scale contents trough highlight {
            background-color: $mic-muted;
        }
        .slider-icon {
            color: $mic-muted;
        }
    }
    .slider-bright { //brightness
        .slider-scale contents trough highlight {
            background-color: $brightness;
        }
        .slider-icon {
            color: $brightness;
        }
    }
}

.slider-icon {
    margin: 10px;
    font-size: 20px;
}

.slider-scale {
    margin-right: 5px;
    contents trough {
        background-color: $fg;
        min-height: 15px;
        border-radius: 15px;
        
        slider {
            background-color: rgba(0, 0, 0, 0); 
            border: none;
            min-width: 20px;
            border-radius: 15px;
            margin-right: 10px;
        }
        highlight {
            border-radius: 15px;
        }
    }
}

// --- monitor ---


.monitor-box {
    // background-color: purple;
    padding: 5px;
    
    :nth-child(1) { //power
        color: $power;
    }
    :nth-child(2) { //memory
        color: $memory;
    }
    :nth-child(3) { //storage
        color: $storage;
    }
}

.monitor-progress {
    background-color: $fg;
    margin: 5px;
}

.monitor-icon {
    background-color: $section-bg;
    font-size: 28px;
}


