$bg: #201d24;
$section-bg: #232027;
$fg: rgb(51, 51, 61);

$text: #f1f1f1;
$font: "noto sans mono";

$uptime: #a39c9b;
$update: #AED0C9;

$button-hover: #575252;
$button-on-hover: #99485a;
$toggle-on: #d87389;

$power: #fcc891;
$memory: #AED0C9;
$storage: #ff9296;

$volume: #f8c2e2;
$mic: #AED0C9;
$mic-muted: #807a79;
$brightness: #fcc891;

$song:  #f8c2e2;
$artist: #fcc891;
$music-controls: #f1f1f1;
$music-play-pause: #f7d9b9;
$music-controls-hover: #807a79;

$folder1: #f8c2e2;
$folder2: #CEFDFF;
$folder3: #fcc891;
$folder4: #ff9296;
$folder-hover: #807a79;


.big-box {
    background-color: $bg;
    border-radius: 10px;
}

.background {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.section {
    margin: 10px;
    border-radius: 10px;
    background-color: $section-bg;
    box-shadow: 2px 2px 4px 0px #111;
}


// --- profile ---


.profile-box {
    // background-color: red;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.bongo-cat {
    opacity: 0.2;
    margin-left: 125px;
    margin-top: 6px;
}

.profile-pic {
    // background-color: $bg;
    // border-radius: 50%;
    //margin: 10px;
    padding: 0px;
    margin-top: -10px;
}

.logout-button {
    border-radius: 50%;
    margin-top: 12px;
    margin-bottom: 22px;
    margin-left: -2px;
    background-color: rgba(0, 0, 0, 0);
    label {
        font-size: 35px;
        color: rgba(0, 0, 0, 0);
    }
}

.logout-button:hover {
    background-color: rgba(0, 0, 0, 0.493);
    label {
        color: #f7d9b9;
        text-shadow: 2px 2px #000;
    }
}

.profile-name {
    font-size: 34px;
    font-family: "source code pro";
    margin-left: 8px;
    margin-top: 4px; 
    font-weight: 400;
    text-shadow: 2px 2px #000;
}

.uptime {
    color: $uptime;
    margin-left: 15px;
    margin-top: -3px;
    font-weight: 500;
    text-shadow: 2px 2px #000;
}

.updates {
    font-size: 16px;
    font-family: $font;
    text-shadow: 2px 2px #000;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: -8px;
    margin-left: 8px;
    color: $update;
    background-color: $section-bg;
    border-radius: 10px;

    :nth-child(1) { // num packages
        
        
    }
    :nth-child(2) { // icon
        margin-bottom: 1px;
    }
}

.updates-hidden {
    opacity: 0;
}


// --- music ---


.music-box {
    // background-color: yellow;
}

.song, .artist {
    font-size: 16px;
    font-family: $font;
    text-shadow: 2px 2px #000;
    :nth-child(1) { // icon
        margin-left: 15px;
        margin-right: 8px;
    }
    :nth-child(2) { // text
        color: $text;
        font-size: 14;
    }
}

.song {
    margin-top: 10px;
    color: $song;
}

.artist {
    margin-top: 10px;
    color: $artist;
}

.music-controls {
    font-size: 19px;
    padding: 2px;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    button {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        color: $music-controls;
    }
    button:hover {
        color: $music-controls-hover;
    }
    :nth-child(2) { // pause play
        color: $music-play-pause;
    }
}


// --- toggles ---


.toggles-box {
    // background-color: green;
    padding: 10px;
}

.toggle-button {
    border-radius: 50%;
    //margin-left: 7px;
    //margin-right: 7px;
    label {
        
        font-size: 21px;
    }
}

.toggle-on {
    background-color: $toggle-on;
    // label {
    //     color: $section-bg;
    // }
}

.toggle-off {
    background-color: $fg;
}

.toggle-off:hover {
    background-color: $button-hover;
}

.toggle-on:hover {
    background-color: $button-on-hover;
}

// --- folders ---


.folder-box {
    padding-top: 5px;
    padding-bottom: 5px;
    .folder1 { color: $folder1; }
    .folder2 { color: $folder2; }
    .folder3 { color: $folder3; }
    .folder4 { color: $folder4; }
}

.folder-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    font-family: $font;
    text-shadow: 2px 2px #000;
    
    box :nth-child(1) { // icon
        margin-right: 12px;
    }
    box :nth-child(2) { // text
        margin-top: 3px;
        font-size: 13px;
    }
}

.folder-button:hover {
    color: $folder-hover;
}


// --- weather box ---


.weather-box {
    //background-color: $bg;
    font-size: 15px;
    font-family: $font;
    padding: 1px;
    text-shadow: 2px 2px #000;
}

.weather-icon {
    font-size: 40px;
    //margin-left: 18px;
    margin-top: 2px;
    margin-right: -26px;
    margin-left: 18px;
}

.weather-curr {
    font-size: 13px;
    margin-top: 0px;
    margin-left: 5px;
    font-weight: 500;
    margin-bottom: 5px;
}

.weather-act {
    margin-top: 3px;
}

.weather-act, .weather-feel {
    font-size: 28px;
    font-weight: 200;
    margin-left: 0px;
    margin-right: 10px;
}


// --- sliders ---


.sliders-box {
    // background-color: blue;
    .slider-vol { //volume
        .slider-scale contents trough highlight {
            background-color: $volume;
        }
        .slider-icon {
            color: $volume;
        }
    }
    .slider-mic { //mic
        .slider-scale contents trough highlight {
            background-color: $mic;
        }
        .slider-icon {
            color: $mic;
        }
    }
    .slider-mic-muted { //mic muted
        .slider-scale contents trough highlight {
            background-color: $mic-muted;
        }
        .slider-icon {
            color: $mic-muted;
        }
    }
    .slider-bright { //brightness
        .slider-scale contents trough highlight {
            background-color: $brightness;
        }
        .slider-icon {
            color: $brightness;
        }
    }
}

.slider-icon {
    margin: 10px;
    font-size: 20px;
}

.slider-scale {
    margin-right: 5px;
    contents trough {
        background-color: $fg;
        min-height: 15px;
        border-radius: 15px;
        
        slider {
            background-color: rgba(0, 0, 0, 0); 
            border: none;
            min-width: 15px;
            border-radius: 15px;
            margin-right: 10px;
        }
        highlight {
            border-radius: 15px;
        }
    }
}

// --- monitor ---


.monitor-box {
    // background-color: purple;
    padding: 5px;
    
    :nth-child(1) { //power
        color: $power;
    }
    :nth-child(2) { //memory
        color: $memory;
    }
    :nth-child(3) { //storage
        color: $storage;
    }
}

.monitor-progress {
    background-color: $fg;
    margin: 5px;
}

.monitor-icon {
    background-color: $section-bg;
    font-size: 28px;
}


