#!/bin/sh

#Resolution
~/bin/set-resolution.sh &

#polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

#power management
tlp start &

#touchpad disable when typing
syndaemon -i 0.5 -t -K -R -d

#enable drag lock
synclient TapAndDragGesture=1 LockedDrags=1 LockedDragTimeout=500

#enable palm detect
synclient PalmDetect=1

#appearance
picom --experimental-backend -b
redshift &

#systray
xfce4-power-manager &
cbatticon -i standard -n &
