#!/bin/sh

#Resolution
xrandr --newmode "1368x912_60.00"  103.00  1368 1448 1592 1816  912 915 925 947 -hsync +vsync
xrandr --addmode eDP1 1368x912_60.00
xrandr --output eDP1 --mode 1368x912_60.00

#polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

#power management
tlp start &

#touchpad disable when typing
syndaemon -i 0.5 -t -K -R -d

#enable drag lock
synclient TapAndDragGesture=1 LockedDrags=1 LockedDragTimeout=500

#enable palm detect
synclient PalmDetect=1

#appearance
picom --experimental-backend -b
redshift &

#systray
xfce4-power-manager &
cbatticon -i standard -n &
