#!/bin/sh

#Resolution
~/bin/set-resolution.sh &

#polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

#power management
tlp start &

#touchpad stuff
~/bin/touchpad-setup.sh &

#appearance
nitrogen --restore &
picom -b
#redshift &

#systray
xfce4-power-manager &
#cbatticon -i standard -n &

#eww
eww daemon &