/* #region variables */

$bar-text-size: 15px;
$bar-icon-size: 22px;

/* #endregion */


/* #region colors */

$color-bg: #0f0f17;
$color-fg: #3e424f;
$color-wp1: #fc6399;
$color-wp2: #00f8fb;
$color-wp3: #ffd700;
$color-wp4: #98fb98;
$color-song: #a1bdce;
$color-bright: #e4c9af;
$color-vol: #a1bdce;
$color-wifi: #a1bdce;
$color-bat: #afbea2;
$color-mem: #e0b089;
$color-clock: #bfc9db;
$color-date: #d7beda;

/* #endregion */


/* #region general */
*{
	all: unset;
	font-family: feather;
	font-family: DaddyTimeMono NF;
}

.bar_class {
  background-color: $color-bg;
  border-radius: 15px;
}

.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}

.separ {
  color: $color-fg;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 8px 0px 8px;
}

scale trough { //TODO what is this
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 5px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}
/* #endregion */


/* #region tooltip */
tooltip.background {
    background-color: $color-bg;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}
/* #endregion */


/* #region clock */
.clock_time_sep {
    font-size: 16;
    color: $color-clock;
    margin: 0px 0px 1px 1px;
}
.clock_time_class, .clock_minute_class {
    font-size: $bar-text-size;
}
.clock_date_class {
    font-size: 18;
    margin: 0px 20px 0px -1px;
    color: $color-date;
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: $color-clock;
}

.clock_time_class {
    color: $color-clock;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}
/* #endregion */


/* #region brightness */
.bright_icon {
  font-size: 22;
  color: $color-bright;
  margin: 0px 10px 0px 10px;
}

.brightbar trough highlight {
  background-image: linear-gradient(to right, $color-bright 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}
/* #endregion */


/* #region volume */
.volbar trough highlight {
  background-image: linear-gradient(to right, $color-vol 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}

.volume_icon {
  font-size: $bar-icon-size;
  color: $color-vol;
  margin: 0px 10px 0px 10px;
}
/* #endregion */


/* #region wifi */
.module-wif {
  font-size: 22;
  color: $color-wifi;
  border-radius: 100%;
  margin: 0px 10px 0px 5px;
}

.module_essid {
  font-size: 18;
  color: $color-wifi;
  margin: 0px 10px 0px 0px;
}
/* #endregion */


/* #region battery */
.bat_module {
  background-color: $color-bg;
  border-radius: 16px;
  margin: 0px 10px 0px 10px;
}

.iconbat {
  color: $color-bat;
  font-size: 10;
  margin: 10px;
}

.batbar {
  color: $color-bat;
  background-color: #38384d;
  border-radius: 10px;
}

/* #endregion */


/* #region memory */
.mem_module {
  background-color: $color-bg;
  border-radius: 16px;
  margin: 0px 10px 0px 3px;
}

.iconmem {
  color: $color-mem;
  font-size: 10;
  margin: 10px;
}

.membar {
  color: $color-mem;
  background-color: #38384d;
  border-radius: 10px;
}

/* #endregion */


/* #region workplaces */
.works {
  font-size: $bar-icon-size;
  font-weight: normal;
  margin: 5px 0px 0px 20px;
  background-color: $color-bg
  }
  
  .0, .01, .02, .03, .04, .05, .06, .011, .022, .033, .044, .055, .066, {
    margin: 0px 5px 0px 0px;
  }
  
  /* Unoccupied */
  .0 {
    color: $color-fg;
  }
  
  /* Occupied */
  .01, .02, .03, .04, .05, .06 {
    color: #bfc9db;
  }
  
  /* Focused */
  .011, .022, .033, .044, .055, .066 {
    color: #a1bdce;
  }
/* #endregion */


/* #region song */
.song_cover_art {
	background-size: cover;	
	background-position: center;
	min-height: $bar-text-size;
	min-width: $bar-text-size;
	margin: 5px;
	border-radius: 100px;
}

.song {
	color: $color-song;
	font-size : $bar-text-size;
	font-weight : bold;
	margin : 3px 5px 0px 0px;
}

//TODO
// .song_btn_play {
// 	color: $color-song;
// 	font-size : 28px;
// 	margin : 3px 0px 0px 5px;

// }


// .song_btn_prev, .song_btn_next {
// 	color: $color-song;
// 	font-size : 24px;
// 	margin : 3px 0px 0px 5px;

// }
/* #endregion */


/* #region calender window */
.cal {
  background-color: $color-bg;
  font-family: JetBrainsMono Nerd Font;
  font-size: $bar-text-size;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: #bfc9db;
}

calendar:selected {
  color: #a1bdce;
}

calendar.header {
color: #a1bdce;
font-weight: bold;
}

calendar.button {
color: #afbea2;
}

calendar.highlight {
color: #a1bdce;
font-weight: bold;
}

calendar:indeterminate {
color: #bfc9db;
}
/* #endregion */


/* #region system window */
.sys_sep {
  color: #38384d;
  font-size: 18;
  margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
  font-size: 16;
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
  font-size: 21;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
  font-size: 30;
  margin: 30px;
}
.sys_win {
  background-color: $color-bg;
}
.sys_bat {
color: #afbea2;
  background-color: #38384d;
border-radius: 10px;
}
.sys_mem {
color: $color-bright;
  background-color: #38384d;
border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
  color: #afbea2;
}
.sys_icon_mem, .sys_text_mem {
  color: $color-bright;
}
.sys_bat_box {
border-radius: 16px;
  margin: 15px 10px 10px 20px;
}
.sys_mem_box {
border-radius: 16px;
  margin: 10px 10px 15px 20px;
}
/* #endregion */


/* #region music window */
.music_pop {
  background-color: $color-bg;
  border-radius: 16px;
}

.music_cover_art {
  background-size: cover;
  background-position: center;
  min-height: 100px;
  box-shadow: 5px 5px 5px 5px #06060b;
  min-width: 170px;
  margin: 20px;
  border-radius: 20px;
}

.music {
  color: #a1bdce;
  font-size : 20px;
  font-weight : bold;
  margin : 20px 0px 0px -15px;
}

.music_artist {
  color: #bbc5d7;
  font-size : 16px;
  font-weight : normal;
  margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
  font-family: Iosevka Nerd Font;
}

.music_btn_prev {
  color: #bbc5d7;
  font-size : 32px;
  font-weight : normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_play {
  color: #a1bdce;
  font-size : 48px;
  font-weight : normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_next {
  color: #bbc5d7;
  font-size : 32px;
  font-weight : normal;
  margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;  
}

.music_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 190px;
  margin : -10px 10px 20px 0px;
}
/* #endregion */


/* #region idk what this is */
.audio-box {
  background-color: $color-bg;
  border-radius: 16px;
}

.speaker_icon {
  background-size: cover;
  background-image: url('images/speaker.png');
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 10px 20px 5px 20px;
  border-radius: 12px;
}

.speaker_text {
  color: #a1bdce;
  font-size : 26px;
  font-weight : bold;
  margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}

.speaker_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin : 0px 0px 5px 0px;
}




.mic_icon {
  background-size: cover;
  background-image: url('images/mic.png');
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 5px 20px 20px 20px;
  border-radius: 12px;
}

.mic_text {
  color: #a1bdce;
  font-size : 26px;
  font-weight : bold;
  margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}

.mic_bar scale trough {
  all: unset;
    box-shadow: 0 6px 5px 2px #06060b;
  background-color: #232232;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin : 0px 0px 20px 0px;
}

.audio_sep {
  color: #38384d;
  font-size: 18;
  margin : 0px 0px 0px 0px;
}
/* #endregion */

