 $bg: #242229;
$section-bg: #222027;
$fg: #35333d;

$text: #E7DEFC;
$font: "noto sans mono";

$uptime: #bab3c5;
$update: #adffff;

$button-hover: #575252;
$button-on-hover: #9fa7ea;
$toggle-on: #b4befe;

$power: #fccd9b;
$memory: #adffff;
$storage: #f587a6;

$ws1: #fc6399;
$ws2: #fccd9b;
$ws3: #d49af7;
$ws4: #a0daa0;

$volume: #fdb1df;
$mic: #adffff;
$mic-muted: #807a79;
$brightness: #fccd9b;

$song:  #fdb1df;
$artist: #fccd9b;
$music-controls: #f1f1f1;
$music-play-pause: #f8d6bf;
$music-controls-hover: #807a79;

$folder1: #fdb1df;
$folder2: #adffff;
$folder3: #fccd9b;
$folder4: #f587a6;
$folder-hover: #807a79;