$bg: #18191b;
$section-bg: #242527;
$fg: #2f3033;

$text: #f1f1f1;
$font: "noto sans mono";

$uptime: #a39c9b;
$update: #AED0C9;

$button-hover: #575252;
$button-on-hover: #99485a;
$toggle-on: #d87389;

$power: #fcc891;
$memory: #AED0C9;
$storage: #ff9296;

$volume: #f8c2e2;
$mic: #AED0C9;
$mic-muted: #807a79;
$brightness: #fcc891;

$song:  #f8c2e2;
$artist: #fcc891;
$music-controls: #f1f1f1;
$music-play-pause: #f7d9b9;
$music-controls-hover: #807a79;

$folder1: #f8c2e2;
$folder2: #CEFDFF;
$folder3: #fcc891;
$folder4: #ff9296;
$folder-hover: #807a79;