/* .membersWrap-3NUR2t:hover .membersGroup-2eiWxl {
    transform: translateX(-6px);
} */

.membersWrap-3NUR2t .membersGroup-2eiWxl {
    cursor: default;
    transform: translateX(45px);
    transition: transform var(--hover-animation-speed);
    overflow: visible;
}

.membersWrap-3NUR2t:hover .membersGroup-2eiWxl {
    transform: translateX(-6px);
}

.membersWrap-3NUR2t .membersGroup-2eiWxl::after {
    content:"";
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background: unset;
    /* background-color: var(--seperator-color); */
    position: absolute;
    left: -28px;
    top: 29px;
    margin-left: 0px;
    background-image: linear-gradient(to left, #b4befe, #cefdff, #AED0C9); 
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    background-color: transparent !important;
}

:not(.ChannelDms-channelmembers-wrap) .membersWrap-3NUR2t {
    position: absolute;
    right: 0;
    width: unset;
    min-width: unset;
    height: 100%;
}

:not(.ChannelDms-channelmembers-wrap) .members-3WRCEx {
    width: 65px;
    transition: width 0.5s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.ChannelDms-channelmembers-wrap {
    width: 65px;
    position: absolute;
    right: 0;
    height: 100%;
    transition: width 0.5s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

:not(.ChannelDms-channelmembers-wrap) .membersWrap-3NUR2t:hover .members-3WRCEx,
    .ChannelDms-channelmembers-wrap:hover {
    width: 240px;
    transition: width 0.5s 0s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
    
}

.ChannelDms-channelmembers-wrap :is(.membersWrap-3NUR2t, .members-3WRCEx, .privateChannels-oVe7HL),
    html #MemberCount {
    width: 100%;
}

.ChannelDms-channelmembers-wrap .item-3XjbnG {
    margin: 0;
    transition: margin 0.5s ease;
}

.ChannelDms-channelmembers-wrap:hover .item-3XjbnG {
    margin: 0 8px;
    transition-delay: 1.25s;
}

.ChannelDms-channelmembers-wrap .privateChannels-oVe7HL .closeButton-mupH76 {
    width: 0;
    margin: 0;
    padding-right: 0;
}

.ChannelDms-channelmembers-wrap:hover .privateChannels-oVe7HL .closeButton-mupH76 {
    animation: floatChannelDmsPrivateChannelsCloseButton 1s 1s forwards;
}

@keyframes floatChannelDmsPrivateChannelsCloseButton {
    to {
        width: 16px;
        margin: 2px;
        padding-right: 8px;
    }
}
